.tabContent {
    margin: 20rpx;
    .questionType {
        .questionTypeTitle {

        }

        .questionTypeItemWrap {
            display: flex;
            flex-wrap: wrap;
            .questionTypeItem{
                width: 31%;
                padding: 12rpx 20rpx 12rpx 0;
                margin-top: 20rpx;
                margin-right: 20rpx;
                background-color: #fff;
                text-align: center;
                box-sizing: border-box;
                &:nth-child(3n){
                    margin-right: 0;
                }
            }
        }
    }
    .questionContentWrap{
        .questionContent{
            position: relative;
            margin: 40rpx 0 20rpx;
            background-color: #fff;
            textarea{
                width: ~'calc(100vw - 70rpx)';
                height: 30vh;
                padding: 15rpx;
                background-color: #fff;
            }
            .questionUploadImgWrap{
                padding: 20rpx;
                display: flex;
                flex-wrap: wrap;
                .questionUploadImgBtn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 90rpx;
                    height: 90rpx;
                    font-size: 50rpx;
                    font-weight: 600;
                    color: #666;
                    margin-right: 20rpx;
                    margin-bottom: 15rpx;
                }
                .questionUploadImg{
                    width: 90rpx;
                    height: 90rpx;
                    margin-right: 20rpx;
                }
            }
        }
    }
}
page{
    background-color: #f1f1f1
}